<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<% if current_user %>
<li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
<% else %>
<li><%= link_to 'Signup', new_user_registration_path %></li>
<li><%= link_to 'Signin', new_user_session_path %></li>
<% end %>


